<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
      <!-- Navbar -->
      <%- include('../partials/nav.ejs')  %> 

      <!-- Social Icons Removed -->

      <!-- Intro -->
      <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2020-12-06-types-of-electric-cars/tesla.jpg') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
         <h1>Types of Electric Cars</h1>
         <h4>By Subhadeep Bose</h4>
      </div>

      <!-- Blog body -->
      <div class="blog-container">
        <p class="dropCap">The whole world is everchanging and so is the automobile industry. With different technologies making cars both more fun and safer to drive, attention is also being paid to make automobiles greener and thus safer for the environment. When we associate the word “green” with the term “cars”, the first thing that comes to our mind is “Electric Cars”. The Electric Cars market is rapidly gaining market owing to its advantages over the IC Engine counterpart.</p>

        <p>Though electric cars seem to be a rather new invention compared to the ICE, it is not. In fact, some automobile historians suggest that electric motors were developed earlier than internal combustion engines. Enthusiasts of Scot developed wagons that ran without an ox or a horse using electric motors as early as 1840s. But the batteries were not rechargeable back then. The development of batteries should have paved their way to electric cars being released into the market much earlier, but the effectiveness and muscle of ICE was not easy to replace! The first electric car to be mass produced was <strong>GM EV1</strong> which was launched in <strong>1995</strong> to comply with California Air Resources Board. But GM lost money in this car. The history of Electric Cars is an interesting thing to google and you should do it after reading this blog!</p>
        
        <p>Most of the population in general don’t have the idea regarding the types of electric cars. According to them an electric car is mainly of one type only and it runs fully on electric batteries. So, let’s get on with the different types of electric cars. Electric cars are broadly classified into 3 categories based on the <strong>degree to which electricity is used as their energy source.</strong></p>
        
        <h3 ><u>  Battery Electric Vehicles (BEVs)- </u></h3>
        <p>These are the type of cars which are fully powered by electricity. These are powered by rechargeable batteries with no IC Engine. These cars keep electricity onboard using high-capacity battery packs which run the electric motors as well as all other systems that require energy. The battery can be charged at power charging stations as well as at home!<br>The chargers used to charge the batteries of EV are of 3 types: Level 1, Level 2 and Level 3. The classifications are based on the time taken to charge the batteries. Level 1 chargers can charge the car at a power supply of 120V. thus Level 1 can charge the car at your home or at your workplace. I have added a picture below clearly stating the uses of each. </p>
        
        
        <img src="/images/blogs/2020-12-06-types-of-electric-cars/bevs.jpg" alt="BEVs">
        
        
        <p>Examples of BEVs:</p>
        
        <ol type="a">
            <li>Tesla Model 3</li>
            <li>Tesla X</li>
            <li>Tesla Y</li>
            <li>Kia Soul</li>
            <li>BMW i3</li>      
        </ol>
        
        <h3><u>  Plug-in Hybrid Electric Vehicles (PHEVs)- </u></h3>
        <p>These cars are powered by both electricity and gasoline. PHEVs can recharge their batteries through both plugged-in charging from an external source and <strong>regenerative braking</strong>. Regenerative braking is the process of using the heat from the brakes to charge up the battery.<br>PHEVs are also called as Extended Range Electric Vehicles (EREVs). Mileage range of PHEVs vary from 10-40 miles before the gasoline engine comes into action. In normal Hybrid Electric Vehicles, it’s only 1-2 miles before the gasoline engine is turned on.</p>
        
        <p>Examples of PHEVs:</p>
        
        <ol type="a">
            <li>BMW i8</li>
            <li>Hyundai Sonata</li>
            <li>Mercedes GLE550e</li>
            <li>Kia Optima</li>
            <li>Mini Cooper SE Countryman</li>      
        </ol>
        
        <h3><u>  Hybrid Electric Vehicles (HEVs)-  </u></h3>
        <p>HEVs are also power by both electricity as well as gasoline. But in case of HEVs, the source of electricity is only regenerative braking and no plugged-in charging like PHEVs. The car can run for 1-2 miles on electric power after which gasoline energy has to kick in.<br>The car starts using the electric power. After a few miles with increase in load and speed, the supply is shifted to gasoline power. A computer controls the two engines to ensure best possible economy.</p>
        
        <p>Examples of HEVs:</p>
        
        <ol type="a">
            <li>Honda Civic Hybrid</li>
            <li>Toyota Camry Hybrid</li>    
        </ol>
        
        <br>
        
        <h3><u>Conclusions-</u></h3>
        
        <p>I hope I was able to clearly distinguish between the three major varieties of Electric Vehicles. The applications of these also vary to a certain extent. It mainly varies on how you are going to use it. I will be discussing on this topic in my next blog. Stay tuned! </p>
      
      </div>

      <!-------------- Footer --------------->
      <footer id="footer">
      <%- include('../partials/footer.ejs')  %> 
      </footer>

      <!--------------- Footer Ends ----------------->

      <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
   </body>
</html>