<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
      <!-- Navbar -->
      <%- include('../partials/nav.ejs')  %> 

      <!-- Social Icons Removed -->

      <!-- Intro -->
      <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2020-12-07-f1-regulatons-2021/RS19.jpg') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
         <h1>F1 New Regulation Changes for 2021 Season</h1>
         <h4>By Manish Pandey</h4>
      </div>

      <!-- Blog body -->
      <div class="blog-container">
         <div class="dropCap" style="text-align: left;">
            <p>A new era of F1 is on the horizon with the championship set to tweak its rulebook next(or next to next) year.</p>

            <p>A bold new vision for the future of F1 has been unveiled or at least that's what FIA & Formula 1 organizers think of new regulation changes. But what's actually changing? Let's dug a bit into it. </p>
   
            <p>In this post we'll discuss briefly a few of the major changes in the regulations:</p>
         </div>

         <h3>A. Non-Technical Changes:</h3>
         <p style="left: 0;">The domain of change which will act as a base for most of the technical changes.</p>

         <h5>Fairer Finances or say "capping" the wallet:</h5>
            <ul><li>From the very beginning of the championship, F1 had this problem of uneven budgets across the teams which lead to the "unfair" dominance of few teams upon others. In order to resolve this serious issue, for the first time ever, Formula 1 will introduce spending restrictions to make the sport fairer, more competitive, and more sustainable. A cost cap will be set at $175m per team, per year, and applies to anything that covers on-track performance but excludes marketing costs, the salaries of drivers, and of the top three personnel at any team. The F1 cost cap will end the growing spending gap between F1's big spenders and those with fewer resources, and the on-track performance differential this brings. This will lead to new teams participating in the championship without the fear of being left behind the "big-spenders" and overall high competitiveness of the sport.</li></u>
            </ul>
         <img src="/images/blogs/2020-12-07-f1-regulatons-2021/fairfin.jpg" alt="Fair finances"/>
         <h3>B. Technical Changes:</h3>
         <p>In addition to the new financial rules, there are some big changes to the technical and sporting regulations as well.</p> 


         <ul> <li><h5>Fewer upgrades, more standard parts, and more limits on components</h5></li>
            <li>New rules have been put in place to limit car upgrades over race weekends, and the number of in-season aero upgrades, which will reduce the costly development arms race that can result in a less competitive grid.</li>

            <li>There will also be the introduction of certain standardized parts, such as fuel pumps, parts that must have a prescribed design, such as wheel covers, and increased restrictions on the number of times some components, like brake pads, can be replaced.</li>

            <li>Power units remain the same as now, but exhaust systems have been added to the list of PU components that are limited in number per season, with each driver able to use six before the penalty.</li>
            <img src="/images/blogs/2020-12-07-f1-regulatons-2021/v1.6L.jpg" alt="v1.6L Engine"/>
            <li> Cars will be 25kg heavier as a result of the new tires, changes in chassis and PU materials to save costs, further safety measures, and the introduction of standardized and prescription parts. That will make cars slower than now, to begin with.</li>

            <li>Gearbox design will be more restricted, with configurations frozen to save research and development costs. </li>

            <li>Tyre blankets, meanwhile, will not be scrapped as once proposed, instead of remaining for 2021 and 2022, albeit with restrictions.</li>
         </ul>

         <h5>Limited wind tunnel testing</h5>
            <ul><li>In a further bid to reduce aero development costs, the number of wind-tunnel runs teams can do each week has been slashed, with emphasis put on using CFD (Computational Fluid Dynamics) simulations over physical ones.</li></ul>
         <img src="/images/blogs/2020-12-07-f1-regulatons-2021/RS19.jpg"/>
         <h5>Tyres- the heart and soul of an automobile:</h5>
            <ul><li> 2021 F1 cars will have a drastic(& more realistic) change in terms of tires. The new regulation, when put into effect, will mandate the use of low-profile 18-inch tires instead of high-profile 10-inch tires. The switch to low-profile tires isn't purely aesthetic. The high-profile tires used in F1 at the moment tend to move around and deflect a lot, which has an impact on aerodynamics. The teams with the biggest budgets are able to look at these effects in detail and are better able to deliver solutions that give them an edge over others. A low-profile tire with a stiffer sidewall doesn't move as much, simplifying the aerodynamics and thus reducing development investment.</li></ul>


         <h5>Better-looking cars:</h5>
         <a href="" class="lg-blockquote">2021 F1 cars will have a radical new design philosophy</a> and striking new look - with sweeping bodywork, simplified front wings, bigger rear wings, increased underbody aerodynamics, wheel wake control devices, simplified suspension, and low-profile tires with 18-inch rims.

         <p> It's also proposed that the wheel rims will be fitted with a rotating LED display panel, to provide information to spectators, while a bodywork display panel is also proposed for the same reason.</p>

         <h5> More wheel-to-wheel action:</h5>
         <ul><li> Though aesthetics were a major consideration, the changes outlined above aren't just cosmetic, over several years, both Formula 1 and the FIA have been working tirelessly to design cars that can race more closely. The key to that was finding a solution to the loss of downforce that the current cars experience when running in another car's wake. Running in dirty air behind another car, a 2019 car could lose more than 40% downforce. But with the 2021 car design, this drops to around 5-10%, with airflow coming off the new cars both cleaner and directed higher, meaning it has significantly less impact on drivers following, giving them the chance not just to overtake, but to battle.</li></ul>



         <h3>C. Miscellaneous Changes:</h3>
         <p>Now some subtle changes.</p> 

         <h5>Revised race weekends: 3-day race weekend</h5>
         <ul> <li>As FIA is planning to increase the maximum number of races in a season to 25(in 2021 its a whopping 23 race-week calendar). In order to improve the fan experience and help teams deal with an expanded calendar, the pre-race press conference will be switched from Thursday to Friday, ahead of the FP1 and FP2 sessions. Since FP3 also marks the point at which the teams must return their cars to the "reference specification" presented for scrutineering before FP1, so any bodywork trialed in FP1 and FP2 sessions must be removed, i.e., cars will now be in parc ferme conditions (i.e. in race trim) from the start of FP3.</li> </ul>


         <h5>Finding up-and-coming talent: </h5>
         <ul> <li>In order to give young and talented drivers of F2 prepare themselves for the challenges of F1, all teams must run at least two practice sessions during the year using drivers who have completed two Grands Prix or fewer, giving more chance for the next generation to shine.</li></ul>
      
      </div>

      <!-------------- Footer --------------->
      <footer id="footer">
      <%- include('../partials/footer.ejs')  %> 
      </footer>

      <!--------------- Footer Ends ----------------->

      <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
   </body>
</html>