<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs')  %> 

    <!-- Social Icons Removed -->

    <!-- Intro -->
    <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2021-07-13-flying-cars/7.jpg') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
        <h1>Flying Cars</h1>
        <h4>By Ankan Saha</h4>
    </div>

    <!-- Blog body -->
    <div class="blog-container">
        <p class="dropCap"><strong>Once you have tasted flight, you will forever walk the earth with your eyes turned skyward, for there you have been, and there you will always long to return." <br> ~Leonardo da Vinci</strong></p>

        <p>In 1940, Henry Ford famously predicted: <em>"Mark my word: a combination airplane and motorcar is coming. You may smile, but it will come"</em>. Flying cars are not a fantasy anymore! Finally, things are shaping fast and you may have one of them right in your garage in the upcoming years. With the BMW Air Car taking flight across two cities, we witnessed our fantasy turn into reality. </p>

        <h2>What are Flying cars and why do we need them?</h2>

        <p>Cities across the world consist of about half of the world’s 7.6 billion people. A report by the United Nations projects the number to rise to 70 percent by 2025. </p>

        <img src="/images/blogs/2021-07-13-flying-cars/1.jpg">

        <p>Our urban system is already strained, with an increasing number of cars in the busy streets all over the world, our transportation infrastructure will certainly not be able to deal with it. So, it's time for us to have a futuristic approach and find a solution to this ever increasing problem. One such solution put forward is what’s called electric vertical take-off-and-landing (eVTOL) vehicles, commonly known as <strong>flying cars</strong> or <strong>urban air taxis</strong> or <strong>Air cars</strong>. eVTOLs are perfect for day-to-day city use which can easily cut across the city traffic.</p>

        <h2>Early attempts</h2>

        <p>Some of the notable works towards introducing the first flying car:
            <ul>
                <li>In 1936, Henry Ford experimented with a single-seat aeroplane called the <strong>"sky flivver"</strong>. This project was abandoned two years later when a pilot was killed when a flight crashed while attempting to record distance.  The Flivver was not at all a flying car, but it drew press attention at that time, the public got excited by the idea of having a mass-produced affordable airplane product that would be marketed, sold, and maintained just like an automobile.</li>

                <img src="/images/blogs/2021-07-13-flying-cars/2.jpg">

                <li>In December 1949, the <strong>Aerocar</strong> designed and built by Molt Taylor, made a successful flight and in following years improved versions underwent a series of road and flying tests. The Civil Aviation Authority approved its design for mass production in December 1956. But despite immense publicity and an improved version produced in 1989, Taylor did not succeed in getting the aero car into production. A total of six Aerocars were built. It is considered to be one of the first practical flying cars.</li>

                <img src="/images/blogs/2021-07-13-flying-cars/3.jpg">

                <li>In 1956, the US Army's Transportation Research Command began researching on making "flying jeeps". These were meant to be ducted-fan-based aircraft that were envisaged to be smaller and easier to fly than helicopters. In 1957 Curtiss-Wright, Chrysler and Piasecki were assigned contracts for building and delivery of prototypes. Among them Piasecki's <strong>VZ-8</strong> was the most successful of the three. While it would normally operate close to the ground, it was capable of flying to several thousand feet, proving to be stable in flight. However, the Army decided that the "Flying Jeep concept is unsuitable for the modern battlefield", and concentrated on the development of conventional helicopters.</li>

                <li>In the mid-1980s, Fred Barker a former Boeing engineer founded Flight Innovations Inc. and began developing the <strong>‘Sky Commuter’</strong>, a small duct fans-based VTOL aircraft. It was a compact, 14-foot-long, two-passenger and was made primarily of composite materials. The remaining prototype was sold for £86000 on eBay in 2008.</li>
            </ul>
        </p>

        <h2>Some of the modern developments</h2>

        <p>
            <ul>
                <li>In 2016,<strong>AeroMobil</strong> tested a prototype that obtained Slovak ultralight certification. But it was not specified when it will be launched and how much it will cost. In 2018, it unveiled a concept that resembled a flying sports car with VTOL capability. The AeroMobil is aimed to be a high-end vehicle species equally on the road or in the sky. It has been stated that it would seamlessly transform from car to aircraft in under three minutes.</li>

                <li>In August 2019, <strong>Volocopter 2X</strong> by E-Volo, now Volocopter was successfully tested at Helsinki airport to integrate with air traffic management services for unpiloted aerial craft AirMap, Altitude Angel and Unifly..</li>

                <img src="/images/blogs/2021-07-13-flying-cars/4.jpg">

                <li><strong>PAL-V Liberty</strong> autogyro or gyrocopter, debuted at the Geneva Motor Show in March 2018, then became the first flying car in production, and was set to launch in 2020,with full production scheduled for 2021 in Gujarat. It is stated to have a maximum speed of 180 kmph.</li>

                <img src="/images/blogs/2021-07-13-flying-cars/5.jpg">

                <li>Uber — the international ride-sharing company collaborated with Karem Aircraft to develop the electric <strong>eCRM-003</strong> eVTOL. Uber Elevate is planning to launch its Uber Air electric vertical take-off and landing (eVTOL) ride sharing program in 2023.Initially it would be launched in three cities Melbourne, Los Angeles and Dallas. To ensure that high safety and sustainability standards are met the company has partnered with GE Aviation.</li>

                <img src="/images/blogs/2021-07-13-flying-cars/6.jpg">

                <li>On June 28 2021, the <strong>Air Car</strong>, a flying car powered by a BMW engine, made a milestone by flying for 35 minutes from the international airport in Nitra to the international airport in Bratislava, Slovakia. After landing, at a click of a button the air car transformed into a sports car in under three minutes and was driven by its inventor, Professor Stefan Klein and co-founder, Anton Zajac to downtown Bratislava, cutting the typical travel time by a factor of two. The Prototype 1 of AirCar is a hybrid car, equipped with a 160 HP BMW engine with fixed-propeller and a ballistic parachute and it can fly at 8200 ft and reached a maximum cruising speed of around 190km/h.</li>

                <img src="/images/blogs/2021-07-13-flying-cars/7.jpg">
            </ul>

            <p>It is true, flying cars cannot be mass produced and made available without vigorous testing regimes, safety measures and proper training. But once the aforesaid requirements are fulfilled a new era of dual transportation vehicles will begin. Flying cars could shape how we commute, work and live in the coming decades as one mile on road can only take you one mile, but one mile of aviation can take you anywhere.</p>
        </p>

        <p><strong>Edited by- Subhadeep Bose</strong></p>
    </div>

    <!-------------- Footer --------------->
    <footer id="footer">
    <%- include('../partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>