<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs')  %> 

    <!-- Social Icons Removed -->

    <!-- Intro -->
    <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2021-12-03-gaussins-hydrogen-truck/1.png') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
        <h1>Hydrogen Racing Truck by Gaussin</h1>
        <h4>By Anirban Roy</h4>
    </div>

    <!-- Blog body -->
    <div class="blog-container">
        <div class="first">
            <h1 style="color: black;">
                Objective of Gaussin behind building a Hydrogen Racing Truck:
            </h1>
            <p class="dropCap" style="text-align: left; padding-top: 3vh;">
                As declared by Christophe Gaussin, CEO of Gaussin, the climate outlook as announced by scientists is very alarming. This is the first generation to feel the effects of Climate change and also is the last generation to act upon it. By entering the first 100% hydrogen and electric truck in the Dakar, Gaussin’s intention is to demonstrate the reliability and performance of its hydrogen road range in a difficult environment. For Gaussin, this project represents a technical achievement, based on renewable energies and the fruit of years of work and experience in zero-emission mobility.
            </p>

        </div>
        <div class="second">
            <h1 style="color: black; text-align: left;">
                ➢ About Gaussin:
            </h1>
            <p style="text-align: left;">
                Gaussin is an Engineering Company which designs, assembles and sells innovative products in the transport and logistics field. Its expertise encompasses cargo and passenger transport, autonomous technologies allowing for self-driving solutions such as Automotive Guided Vehicles and the integration of all types of batteries, particularly electric and hydrogen fuel cells. Gaussin has over 50,000 vehicles world-wide and it has a reputation in four fast expanding markets, namely: 
                <ul style="text-align: left;">
                    <li>port terminals</li>
                    <li>airports</li>
                    <li>logistics</li>
                    <li>people mobility</li>
                </ul>
            </p>
            <p style="text-align: left;">
                Gaussin has also developed strategic partnerships with major global companies in order to accelerate its commercial penetration:
                <ul style="text-align: left;">
                    <li>Siemens Postal, Parcel & Airport Logistics in the airport field</li>
                    <li>Bolloré Ports and ST Engineering in ports</li>
                    <li>Bluebus for people mobility</li>
                </ul>
            </p>
            <p style="text-align: left;">
                GAUSSIN has broadened its business model with the signing of license agreements accelerating the diffusion of its technology throughout the world. The acquisition of METALLIANCE confirms the emergence of an international group present in all segments of intelligent and clean vehicles.
            </p>
            </div>

            <div class="third">
                <h1 style="color: black;">Hydrogen Racing Truck:</h1>
                <p style="text-align: left;">
                    As per Gaussin, the Hydrogen Racing Truck that will compete in the World Rally-Raid Championship with the 2022 Dakar Rally in Saudi Arabia as its first stage is the most powerful 100% hydrogen and electric racing truck ever built. <br>

                    Gaussin’s Hydrogen Racing Truck incorporates high-performance design to withstand extreme environments and intends to demonstrate the performance and reliability of the hydrogen-electric motorization developed by Gaussin. For further development of Gaussin’s range of road trucks, the information obtained during the 2022 Dakar Rally will be used.
                </p>
            </div>
            <div class="fourth">
                <h1 style="color: black; text-align: left;">➢ Features:</h1>

                <ul style="text-align: left;">
                    <li>The Hydrogen Racing Truck has been designed for zero emission.</li>
                    <li>It has Flexible Skateboard Chassis, on top of which all sorts of heavy vehicles can be built.</li>
                    <li>It contains two 300 kW (402 HP) Electric Motors.</li>
                    <li>It has one Fuel Cell capable of generating a continuous 380 kW (510 HP).</li>
                    <li>To handle the full-throttle demands of desert racing, it has one 82 kWh buffer battery.</li>
                    <li>It’s capable of carrying 80 kg (176 lb) of hydrogen.</li>
                    <li>It’s expected to have a range of about 250 km (155 miles) under race conditions and will fuel up in about 20 minutes as required.</li>
                    <li>Its design has been collaborated with Pininfarina in Italy.</li>
                </ul>
                <br>
            </div>
            <div class="5th">
                <h1 style="color: black;"> Gaussin’s Motto</h1>
                <p style="text-align: left;">Gaussin’s motto is operational safety and security. Following are the safety measures implemented in the development of Hydrogen Racing Truck:
                    <ul style="text-align: left;">
                        <li>High quality components</li>
                        <li>Inputs from dozens of experts recognized in their fields</li>
                        <li>Thousands of hours of development and testing</li>
                        <li>Certification of components by control organizations</li>
                        <li>Vehicle approval</li>
                    </ul>
                </p>

                <img src="/images/blogs/2021-12-03-gaussins-hydrogen-truck/1.png" alt="Truck1">
            </div>
            <div class="sixth">
    
                <h1 style="color: black;">India and future of electric vehicle industry</h1>
                <ul style="text-align: left;">
                    <li>High quality components</li>
                    <li>Inputs from dozens of experts recognized in their fields</li>
                    <li>Thousands of hours of development and testing</li>
                    <li>Certification of components by control organizations</li>
                    <li>Vehicle approval</li>
                </ul>

                <img src="/images/blogs/2021-12-03-gaussins-hydrogen-truck/2.png" alt="Truck 2">

            </div>
    </div>

    <!-------------- Footer --------------->
    <footer id="footer">
    <%- include('../partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>