<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs')  %> 

    <!-- Social Icons Removed -->

    <!-- Intro -->
    <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2021-07-13-flying-cars/7.jpg') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
        <h1>TCS & Formula E Championship</h1>
        <h4>By Subhadeep Bose</h4>
    </div>

    <!-- Blog body -->
    <div class="blog-container">
        <div class="first">
            <h1>
                TCS announces its entry in Formula E Championship, becomes title sponsor of Jaguar racing team.
            </h1>
            <img src="/images/blogs/2021-11-11-tcs-and-fe/1.png"  alt="Jaguar - TCS Racing">
            <p class="dropCap" style="text-align: left;">
                Tata Consultancy Services (TCS) recently announced its partnership with iconic British racing team Jaguar Racing as its title partner ahead of the 2021/22 ABB FIA Formula E World Championship. Jaguar Racing will be known as Jaguar TCS Racing.
            </p>

        </div>
        <div class="second">
            <h1>
                What is Formula E Championship?
            </h1>
            <img src="/images/blogs/2021-11-11-tcs-and-fe/2.png" alt="Formula E Championship logo">
            <p style="text-align: left;">
                Before going into the whole TCS - Jaguar Racing partnership, it is important to know first-hand about Formula - E. Formula E or ABB FIA Formula-E World Championship is a single seater motorsport championship for electric cars. It is very similar to Formula 1 Championships, but its main focus is to support the electrification of the automobile industry, reduce carbon emissions and promote hybrid and electric systems. FIA (Fédération Internationale de l'Automobile) is the governing body of Formula - E. It is also the governing body of Formula 1 Championships. 
            </p>
            </div>

            <div class="third">
                <h1>What are the objectives of TCS and Jaguar here?</h1>
                <img src="/images/blogs/2021-11-11-tcs-and-fe/3.png" alt="New Jaguar TCS logo">
                <p style="text-align: left;">
                    According to TCS CEO Rajesh Gopinathan, the collaboration between TCS and Jaguar Racing will "pave the way for adoption of advanced technologies, utilisation of cleaner energy, and the evolution of novel business models". TCS has an existing partnership in product engineering, global manufacturing plant operations, enterprise systems, digital and cloud solutions with Jaguar Racing. So the partnership between is not new, it has just expanded into the title sponsoring. <br><br>

                    Jaguar Racing Team principal James Barclay welcomed the collaboration and iterated the team’s focus on winning the World Championship. Last session Jaguar Racing finished 2nd in the teams table. He also focused on the ultimate goal of transforming the race technology to road while making Jaguar "all-electric".

                </p>
            </div>
            <div class="fourth">
                <h1>What does it mean for the EV industry in India after this collaboration?</h1>
                <img src="/images/blogs/2021-11-11-tcs-and-fe/4.png"  alt="Mahindra Racing">

                <p style="text-align: left;">India is not new to Indian companies collaborating with other companies in EV racing championships. Mahindra & Mahindra has been competing in Formula - E since the championship’s inception (with Mahindra Racing finishing 9th last session). However, TCS is the first Indian IT company associated with Formula - E. </p>

                <img src="/images/blogs/2021-11-11-tcs-and-fe/5.png" alt="Last session’s Formula - E team standing">
                <p style="text-align: left;">TCS is not new to racing either. It was the title sponsor of the Japanese team Nakajima Racing as part of the Japanese Super Formula Championship. However, this time the focus is on "cleaner energy". This collaboration aims to promote the research and innovation in electric vehicle (EV) technologies and its advanced concepts.</p>
            </div>
            <div class="5th">
                <h1>What now for other Indian companies?</h1>
                <p style="text-align: left;">With TCS and Mahindra entering electric vehicle motorsports, other Indian companies will surely try their hands in entering such lucrative sponsorships. One can expect that other Indian IT companies will follow TCS's suit. TCS is already using their expertise to build and test battery  management systems, battery health and their performance management on cloud. It has also started testing hydrogen fuel cells. All these give TCS a slight edge, which other companies won't miss. It will promote healthy competition in the electric vehicle industry.</p>

                <img src="/images/blogs/2021-11-11-tcs-and-fe/6.png" alt="Major Indian Companies manufacturing electric vehicles">
                <p style="text-align: left;">However Indian companies are not new to the electric vehicle industry itself. Another subsidiary of Tata Group - Tata Motors and Jaguar Land Rover are both aiming to electrify their fleets. Tata Motors' Tigor EV and Nexon EV are now the industry’s leading EV models in India. In 2020, it sold 2,600 electric vehicles, resulting in a market share of 63%.  Ashok Leyland introduced India's first electric bus in 2016 and are working on expanding their EV range. </p>
            </div>
            <div class="sixth">
    
                <h1>India and future of electric vehicle industry</h1>

                <img src="/images/blogs/2021-11-11-tcs-and-fe/7.png" alt="India’s electric vehicle supply equipment market, showing the overall market size in 2019, predicting 2025 and growth forecast">

                <p style="text-align: left;">While Formula E Championships and Electric Vehicles industry in India may seem unrelated, they are in fact not. The entry of TCS in electric motor racing will give a boost to electric vehicle companies to expand their operations. More innovations, challenges and its solutions will come forth. This event concurred with COP 26 in Glasgow where India committed to net zero carbon emissions by 2070. It is a mammoth challenge and the automobile industry plays a huge role in it. Small steps like these on the global stage will surely help in undertaking this challenge.</p>

            </div>
    </div>

    <!-------------- Footer --------------->
    <footer id="footer">
    <%- include('../partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>