---
layout: post
title: "Automatic Transmission"
categories: 
featImg: 2021-05-24-automatic-transmission/autotransmission.jpg
excerpt: "Just over 100 years ago, manual transmissions were the only option for drivers until the Sturtevant brothers of Boston attempted the first automatic transmission in 1904."
author: rajeswari
---

<p class="dropCap">Just over 100 years ago, manual transmissions were the only option for drivers until the Sturtevant brothers of Boston attempted the first automatic transmission in 1904. Cars were originally made of only mechanical parts, but now contain more than 1000 electronic components—most of which happen to be sensors and micro-controllers  Be it the engine, the dashboard or any other part, the use of electronics can be found to make them more efficient, simple and perform better.</p>
                        
<img src="{{ site.baseurl }}/assets/img/blog/blogs/2021-05-24-automatic-transmission/autotransmission.jpg" alt="Automatic Transmission">

<p>An automatic transmission (sometimes abbreviated to auto or AT) is a multi-speed transmission used in motor vehicles that does not require any driver input to change gears under normal driving conditions. Transmissions, also known as gearboxes, help to direct the rotational force and speed of a car. Therefore, automatic transmissions switch gear ratios as the vehicle moves. Electronics plays a more significant role in automatic-transmission cars. The automatic transmission of a car is controlled by the transmission control unit (TCU). It is a part of the Electronic Control Unit (ECU). It ensures smooth gear shifts and optimal fuel economy and performance.</p>
                        
<p>The TCU collects information from the sensors attached to the vehicle. It further uses the data to do gear shifting at the right time, which helps to increase the car’s performance and efficiency. Using input sensors it gathers data then compares it to its onboard memory and then sends out a signal accordingly to manage the output to what its memory recommends.</p>

<img src="{{ site.baseurl }}/assets/img/blog/blogs/2021-05-24-automatic-transmission/autogearshift.jpg" alt="Auto Gear Shift">

<p>These are the sensors giving the information to the TCU ranging from engine sensors to gear sensors. The common ones include:
    <ul>
        <li>Vehicle speed sensor</li>
        <li>Throttle position sensor</li>
        <li>Turbine speed sensor</li>
        <li>Transmission fluid temperature sensor</li>
        <li>Wheel Speed Sensor</li>
    </ul>
</p>

<img src="{{ site.baseurl }}/assets/img/blog/blogs/2021-05-24-automatic-transmission/sensors.jpg" alt="Sensors">

<p>With the data from input sensors the TCU outputs signals to the following sensors.
    <ul>
        <li>Shift Solenoids</li>
        <li>Torque Converter Clutch Solenoid (TCC)</li>
        <li>Engine Control Module (ECM)</li>
    </ul>
</p>

<p>A high-performance multi-core microcontroller, the TR-C75 excels in computationally intensive model-based applications that need advanced safety architecture. Applications are supported by a software environment that abstracts the low level and communication hardware. The device supports standard communication, on-board diagnostics and diagnostic protocols. Optionally, applications may be supported by AUTOSAR 4.0, the standardized automotive software architecture.</p>

<p>There are now various types of automatic transmissions available in modern automobiles. Here are some automatic transmission types:
    <ul>
        <li>Torque converter automatic</li>
        <li>Continuously variable transmission (CVT)</li>
        <li>Semi-automatic transmission (SAT)</li>
        <li>Dual-clutch transmission</li>
        <li>Tiptronic transmission</li>
    </ul>
</p>

<h3>Advantages :</h3>

<ul>
    <li>Easier to use in heavy traffic</li>
    <li>The transmission shifts quickly and smoothly. Drivers don't have to put in extra work to shift the transmission in an automatic.</li>
    <li>Driving a manual vehicle takes more practice than driving an automatic car. It takes less time to master driving automatic cars.</li>
    <li>Automatic vehicles stall less often unless the car has a mechanical problem.</li>
    <li>Better in areas with hills.</li>
</ul>

<h3>Disadvantages :</h3>

<ul>
    <li>They can be more expensive to purchase.  </li>
    <li>This means a driver may decide to engage in distracting activities, which can lead to accidents.</li>
    <li>Manual vehicles usually have better fuel efficiency than automatic cars, but this also depends on the make and model of the automobile.</li>
</ul>