<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blog.css">

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs')  %> 

    <!-- Social Icons Removed -->

    <!-- Intro -->
    <div class="page-intro" style="background: rgba(0, 0, 0, .45) url('/images/blogs/2022-02-18-soli-sensor/2.jpg') no-repeat center center/cover; background-blend-mode: darken;display: flex;flex-direction: column;">
        <h1>SOLI Sensor</h1>
        <h4>By Anirban Roy</h4>
    </div>

    <!-- Blog body -->
    <div class="blog-container">
        <div class="first">
            <h1 style="color: black;">
                <u>Introduction to Machine Learning:</u>
            </h1>
            <p class="dropCap" style="text-align: left; padding-top: 3vh;">
                Machine Learning (ML) means training a computer via various algorithms and by feeding data to a computer so that it can take decisions on its own without any human intervention. A computer has to be trained in such a way that after taking some necessary inputs from the user it can provide an effective solution to a problem. The widest application of Machine learning is in the field of Classification. Again, Classification can be broadly subdivided into:
                <ul style="text-align: left;">
                    <li><u><strong>Binary Classification</strong>:</u> This refers to the Classification of Data into two class labels. Example includes whether a visit to a site by a customer will fetch any revenue or not.</li>
                    <li><u><strong>Multi-Class Classification</strong>:</u> This refers to the Classification of Data into three or more class labels. Example includes Plant species classification.</li>
                </ul>
            </p>
            <img src="/images/blogs/2022-02-18-soli-sensor/1.jpg" alt="Machine Learning">

        </div>

        <br>

        <div class="second">
            <h1 style="color: black; padding-top: 2vh;">
                <u>Introduction to Computer Vision:</u>
            </h1>
            <p style="text-align: left; padding-top: 1vh;">
                Computer Vision and Machine Learning are two fields which are closely related to each other. Computer Vision involves a lot of things. One application of Computer Vision is Recognition. Recognition in computer vision involves object recognition, identification, and detection. Some specialized tasks of recognition are optical character recognition, image retrieval, and facial recognition.
                <ul style="text-align: left;">
                    <li><u><strong>Machine learning approach of recognition</strong>:</u> Here, a pre-defined database exists where key points of objects are defined and stored beforehand. While categorizing an image, the key points are checked and hence matches are found according to that.</li>
                    <li><u><strong>Motion Analysis</strong>:</u> Digital videos are processed here to produce information. Movements of objects are recorded and categorization is done as per that.</li>
                    <li><u><strong>Application in Autonomous Vehicles</strong>:</u> Cameras are fitted on top of self-driving cars for 360 degree vision and a range of 250 m. The cameras aid in finding lane, estimating road curvature, detection of obstacle, traffic sign detection and many more.</li>
                </ul>
            </p>
            <img src="/images/blogs/2022-02-18-soli-sensor/2.jpg" alt="Machine Learning">
        </div>

        <br>

        <div class="third">
            <h1 style="color: black; padding-top: 2vh;">
                <u>Introduction to SOLI Sensor:</u>
            </h1>
            <p style="text-align: left; padding-top: 1vh;">
                SOLI understands human motion (Smart detection) at various angles (360 degree sensing) from finger taps to body movements. SOLI has been designed in such a way that the interaction feels human. 
            </p>
        </div>

        <br>

        <div class="fourth">
            <h1 style="color: black; padding-top: 2vh;">
                <u>Library of Movements:</u>
            </h1>
            <p style="text-align: left; padding-top: 1vh;">
                The SOLI library consists of three basic units of interaction that can be used to build complex interactive experiences. The basic units are as follows:
                <ul style="text-align: left;">
                    <li><u><strong>Aware</strong>:</u> Whenever a person is around the sensing area, SOLI becomes aware of the location of that person.</li>
                    <li><u><strong>Engaged</strong>:</u> SOLI recognizes the body cues that indicate the starting or ending of an interaction.</li>
                    <li><u><strong>Active</strong>:</u> Here, SOLI responds to various movements for performing specific tasks.</li>
                </ul>
            </p>
            <img src="/images/blogs/2022-02-18-soli-sensor/3.jpg" alt="Machine Learning">
        </div>

        <br>

        <div class="fifth">
            <h1 style="color: black; padding-top: 2vh;">
                <u>SOLI Technology:</u>
            </h1>
            <p style="text-align: left; padding-top: 1vh;">
                The ML Model has been designed in such a way that it is able to a large range of possible movements. The working principle is as follows:
                <ul style="text-align: left;">
                    <li><u><strong>Emission</strong>:</u> SOLI radar emits electromagnetic waves, which interacts with nearby objects such as human hands and hence the energy of the emitted signal gets scattered and some portion are reflected back towards the radar antenna.</li>
                    <li><u><strong>Reflection</strong>:</u> The properties of the reflected signal such as energy, time delay, etc. capture important information regarding the object including, size, shape, distance, material, etc.</li>
                    <li><u><strong>Recognition</strong>:</u> By analyzing the characteristics of the reflected signal, SOLI can distinguish complex movements within its field.</li>
                </ul>
            </p>
        </div>

        <br>

        <div class="sixth">
            <h1 style="color: black; padding-top: 2vh;">
                <u>One Powerful Chip:</u>
            </h1>
            <p style="text-align: left; padding-top: 1vh;">
                The design of the SOLI chip reduces complexity and consumes very low power. Unlike traditional radars, SOLI has no moving hardware components. The efficient implementation of the algorithms enables interaction at low power and is cost-effective.
            </p>

            <img src="/images/blogs/2022-02-18-soli-sensor/4.png" alt="Machine Learning">
        </div>

    </div>

    <!-------------- Footer --------------->
    <footer id="footer">
    <%- include('../partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>