<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 footer-links">
                <h4>CONTACT US</h4>
                <strong><p><strong>Students' Automobile Club</strong><br> <a href="https://www.kgec.edu.in/">Kalyani Government Engineering College</a> <br> Kalyani, Nadia, West Bengal, India, <br> Pin-741235 <br></strong>
                <br>
                <strong>Email : <a href="mailto:kgec.sac@gmail.com"></strong>kgec.sac@gmail.com</a>
                <br>
                <strong>Phone : </strong>+91 9748805547
                <br>
                <strong>Whatsapp : </strong>+91 9748805547</p>
            </div>
            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>MESSAGE US</h4>
                <br>
                <form action="#" method="post">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Name" required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field textarea">
                        <textarea name="message" id="message" placeholder="Subject"></textarea>
                    </div>

                    <div class="button">
                        <form action="kgec.sac@gmail.com">
                            <button type="submit" href="mailto:kgec.sac@gmail.com">Send message</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>