<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>CONTACT US</h4>
                    <strong><p> Students Automobile Club<br> <a href="https://www.kgec.edu.in/">Kalyani Government Engineering College</a> <br> Kalyani,Nadia <br> West Bengal <br></strong>
                    <br>
                    <strong>Email : <a href="mailto:kgec.sac@gmail.com"></strong>kgec.sac@gmail.com</a>
                    <br>
                    <strong>Phone : </strong>+91 9748805547
                    <br>
                    <strong>Whatsapp : </strong>+91 9748805547</p>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>MESSAGE US</h4>
                    <br>
                    <form action="#" method="post">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field textarea">
                            <textarea name="message" id="message" placeholder="Subject ..."></textarea>
                        </div>

                        <div class="button">
                            <form action="kgec.sac@gmail.com">
                                <button type=" submit " href="mailto:kgec.sac@gmail.com">Send message</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Students' Automobile Club - KGEC | All Rights Reserved
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="/js/preloader.js "></script>
    <script src="/lib/jquery/jquery.min.js "></script>
    <script src="/lib/jquery/jquery-migrate.min.js "></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="/lib/easing/easing.min.js "></script>
    <script src="/lib/superfish/hoverIntent.js "></script>
    <script src="/lib/superfish/superfish.min.js "></script>
    <script src="/lib/wow/wow.min.js "></script>
    <script src="/lib/waypoints/waypoints.min.js "></script>
    <script src="/lib/counterup/counterup.min.js "></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js "></script>
    <script src="/lib/isotope/isotope.pkgd.min.js "></script>
    <script src="/lib/lightbox/js/lightbox.min.js "></script>
    <script src="/lib/touchSwipe/jquery.touchSwipe.min.js "></script>
    <!-- Contact Form JavaScript File -->
    <script src="/js/contactform.js "></script>

    <!-- Template Main Javascript File -->
    <script src="/js/main.js "></script>
</footer>