<!-- Social -->
<div class="social-menu">
    <ul>
        <li><a href="https://www.facebook.com/kgecSAC"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/sac-kgec"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/sac-kgec"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/company/students-automobile-club-of-kgec"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://youtube.com/channel/UCTvwPEeOLVEk0ZknQpA7eKw"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>