<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="not-found content">
        <h1>404 - OOPS!</h1>
        <h2>That page doesn't exist</h2>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>