<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nostrum eos amet vel aspernatur voluptatem explicabo doloremque expedita fuga voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nostrum eos amet vel aspernatur voluptatem explicabo doloremque expedita fuga voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nostrum eos amet vel aspernatur voluptatem explicabo doloremque expedita fuga voluptatum?</p>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>