<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/blogs.css">
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <div class="page-intro blogs-intro">
        <h1>Blogs</h1>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">    
        <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->

</body>
</html>