<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>

    <body>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="ejQ3R5Gt"></script>

        <!-- Navbar -->
        <%- include('./partials/nav.ejs') %>

            <!-- carousel -->
            <section id="intro">
                <div class="intro-container">
                    <div id="introCarousel" class="carousel  slide carousel-fade " data-ride="carousel">
                        <ol class="carousel-indicators">
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="carousel-background"><img src="images/caro8.jpg"
                                        class="img-responsive center-block" alt=""> </div>
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h1>
                                            <strong>Students' Automobile Club, KGEC</strong>
                                        </h1>
                                        <h3>Design - Build - Test</h3>
                                        <a href="#tasks" class="btn-get-started scrollto">Lets Drive </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-background"><img src="images/caro3.png"
                                        class="img-responsive center-block" alt=""></div>
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h1>
                                            <strong>Students' Automobile Club, KGEC</strong>
                                        </h1>
                                        <h3>Design - Build - Test</h3>
                                        <a href="#tasks" class="btn-get-started scrollto">Lets Drive </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-background"><img src="images/caro2.png"
                                        class="img-responsive center-block" alt=""></div>
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h1>
                                            <strong>Students' Automobile Club, KGEC</strong>
                                        </h1>
                                        <h3>Design - Build - Test</h3>
                                        <a href="#tasks" class="btn-get-started scrollto">Lets Drive </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-background"><img src="images/caro5.png"
                                        class="img-responsive center-block" alt=""></div>
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h1>
                                            <strong>Students' Automobile Club, KGEC</strong>
                                        </h1>
                                        <h3>Design - Build - Test</h3>
                                        <a href="#tasks" class="btn-get-started scrollto">Lets Drive </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-background"><img src="images/caro6.png"
                                        class="img-responsive center-block" alt=""></div>
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h1>
                                            <strong>Students' Automobile Club, KGEC</strong>
                                        </h1>
                                        <h3>Design - Build - Test</h3>
                                        <a href="#tasks" class="btn-get-started scrollto">Lets Drive </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </section>
            <!--#intro -->

            <!-- who are we -->
            <!-- About-->

            <div class="float-container">
                <div class="who-are-we" id="blurb" data-aos="fade-up">
                    <h2 style="text-align: center">Who are we?</h2><br>
                    <p> The Students' Automobile Club-KGEC, the official automobile club of KGEC is established to
                        bridge the gap between the techincal knowledge and skills in the automobile fields among the
                        engineering students.</a>
                    </p>
                </div>

                <div class="notice-box" data-aos="fade-up">
                    <div class="fb-page" data-href="https://www.facebook.com/kgecSAC/" data-tabs="timeline" data-width="400" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kgecSAC/" class="fb-xfbml-parse-ignore" style="text-align: center;"><a href="https://www.facebook.com/kgecSAC/">Students&#039; Automobile Club-KGEC</a></blockquote></div>
                </div>
            </div>

            <!-- Services Section -->

            <section id="promote" class="wow fadeIn" container-fluid>
                <div class="container-fluid grid1">
                    <div class="row ">
                        <div class="col-12 col-md-12 ">
                            <h1 id="sank ">
                                <center>What We Promote?</center>
                            </h1>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-file-video-o " aria-hidden="true " style="font-size:48px "></i>
                            </div>
                            <div class="row " style="padding-left:7px; ">
                                Poster Making and Video Editing
                            </div>
                        </div>
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-graduation-cap " aria-hidden="true "
                                    style="font-size:48px;padding-left: 45px; "></i>
                            </div>
                            <div class="row ">
                                Research and Development
                            </div>
                        </div>
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-globe " style="font-size:48px;padding-left: 48px; "></i>
                            </div>
                            <div class="row ">
                                Web Developement
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-pencil-square-o " style="font-size:48px;padding-left: 30px; "></i>
                            </div>
                            <div class="row " style="padding-left:10px; ">
                                Content Writing
                            </div>
                        </div>
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-book " aria-hidden="true "
                                    style="font-size:48px;padding-left: 35px; "></i>
                            </div>
                            <div class="row " style="padding-left:10px; ">
                                Education
                            </div>
                        </div>
                        <div class="col-12 col-md-4 grid2 card ">
                            <div class="row box ">
                                <i class="fa fa-paint-brush " style="font-size:48px;padding-left:38px; "></i>
                            </div>
                            <div class="row " style="padding-left:20px; ">
                                Designing
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Youtube section -->
            <br>
            <section class="youtube">
                <p class="youtube-header" data-aos="fade-up">Inauguration Event of SAC, KGEC</p>
                <div class="youtube-player-wrapper" data-aos="fade-up">
                    <iframe class="youtube-player" src="https://www.youtube.com/embed/0jXWLDPYNTg"></iframe>
                </div>
            </section>
            <br>

            <!-- Newsletter -->
            <%- include('./partials/newsletter.ejs') %>
                <!-- Footer -->
                <%- include('./partials/footer.ejs') %>

                    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
    </body>

</html>