<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    

    <!-- Newsletter -->
    <%- include('./partials/newsletter.ejs')  %> 
    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up "></i></a>
</body>
</html>