<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <div class="projects content">
        <h2>Our Projects</h2>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">
        <!-- Contact Us Form -->
        <%- include('./partials/contact.ejs')  %> 
    
        <%- include('./partials/footer.ejs')  %> 
    </footer>
    
    <!--------------- Footer Ends ----------------->
</body>
</html>