<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/team.css">
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <!-- Intro -->
    <div class="page-intro team-intro">
        <h1>Our Team</h1>
    </div>

    <h2 style="text-align: center; color: black; padding: 40px 0 0 0;">4th Year Members</h2>
    <div class="team-container">
        <ul class="cards">
            <li>
              <div class="card">
                <img src="/images/team/ankit.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="/images/team/ankit.jpg" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Ankit Banerjee</h3>
                      <span class="card__status">Chassis Team Lead</span>
                    </div>
                  </div>
                  <p class="card__description">
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-github-square"></i></a>
                  </p>
                </div>
              </div>      
            </li>

            <li>
              <a href="" class="card">
                <img src="https://i.imgur.com/2DhmtJ4.jpg" class="card__image" alt="" />
                <div class="card__overlay">        
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                    <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">kim Cattrall</h3>
                      <span class="card__status">3 hours ago</span>
                    </div>
                  </div>
                  <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
              </a>
            </li>

            <li>
              <a href="" class="card">
                <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Jessica Parker</h3>            
                      <span class="card__status">Position</span>
                    </div>
                  </div>
                  <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                </div>
              </a>      
            </li>

          </ul>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">    
        <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->
</body>
</html>