<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/team.css">
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <!-- Intro -->
    <div class="page-intro team-intro">
        <h1>Our Team</h1>
    </div>

    <!-- 4th year leads -->
    <h2 style="text-align: center; color: black; margin: 50px 0 -10px 0;">4th Year Leads</h2>
    <div class="team-container">
      <ul class="cards">
          <li>
            <div class="card">
              <img src="/images/team/dibyendu.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/images/team/dibyendu.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Dibyendu Sur</h3>
                    <span class="card__status">Convenor</span>
                  </div>
                </div>
                <p class="card__description">
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-github-square"></i></a>
                </p>
              </div>
            </div>      
          </li>
          <li>
            <div class="card">
              <img src="/images/team/subhadeep.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/images/team/subhadeep.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Subhadeep Bose</h3>
                    <span class="card__status">Convenor</span>
                  </div>
                </div>
                <p class="card__description">
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-github-square"></i></a>
                </p>
              </div>
            </div>      
          </li>
          <li>
            <div class="card">
              <img src="/images/team/arijit.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/images/team/arijit.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Arijit Goswami</h3>
                    <span class="card__status">Head Coordinator</span>
                  </div>
                </div>
                <p class="card__description">
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-github-square"></i></a>
                </p>
              </div>
            </div>      
          </li>
          <li>
            <div class="card">
              <img src="/images/team/avick.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/images/team/avick.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Avick Saha</h3>
                    <span class="card__status">Education Head</span>
                  </div>
                </div>
                <p class="card__description">
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-github-square"></i></a>
                </p>
              </div>
            </div>      
          </li>
          <li>
            <div class="card">
              <img src="/images/team/aman.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                  <img class="card__thumb" src="/images/team/aman.png" alt="" />
                  <div class="card__header-text">
                    <h3 class="card__title">Aman Shiraz</h3>
                    <span class="card__status">Education Head</span>
                  </div>
                </div>
                <p class="card__description">
                  <a href=""><i class="fab fa-linkedin"></i></a>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                  <a href=""><i class="fab fa-github-square"></i></a>
                </p>
              </div>
            </div>      
          </li>
          <li>
              <div class="card">
                <img src="/images/team/aranya.jpg" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="/images/team/aranya.jpg" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Aranya Jana</h3>
                      <span class="card__status">Media Head</span>
                    </div>
                  </div>
                  <p class="card__description">
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-github-square"></i></a>
                  </p>
                </div>
              </div>      
            </li>
            <li>
              <div class="card">
                <img src="/images/team/pritam.png" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                    <img class="card__thumb" src="/images/team/pritam.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Pritam Chakraborty</h3>
                      <span class="card__status">Design Head</span>
                    </div>
                  </div>
                  <p class="card__description">
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-github-square"></i></a>
                  </p>
                </div>
              </div>      
            </li>

          </ul>
    </div>


    <!-- Team Leads -->
    <h2 style="text-align: center; color: black; margin: 50px 0 -10px 0;">3rd Year Team Leads</h2>
    <div class="team-container">
      <ul class="cards">
        <li>
          <div class="card">
            <img src="/images/team/sarbo.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/sarbo.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Sarbodaman Banerjee</h3>
                  <span class="card__status">Thermal Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
        <li>
          <div class="card">
            <img src="/images/team/ankit.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/ankit.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Ankit Banerjee</h3>
                  <span class="card__status">Chassis Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
        <li>
          <div class="card">
            <img src="/images/team/puspak.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/puspak.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Puspak Sinha Roy</h3>
                  <span class="card__status">Drivetrain & Steering Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
        <li>
          <div class="card">
            <img src="/images/team/somdip.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/somdip.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Somdip Dhara</h3>
                  <span class="card__status">Suspension & Brakes Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
        <li>
          <div class="card">
            <img src="/images/team/manish.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/manish.jpg" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Manish Pandey</h3>
                  <span class="card__status">Electrical & Electronics Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
        <li>
          <div class="card">
            <img src="/images/team/akash.png" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <img class="card__thumb" src="/images/team/akash.png" alt="" />
                <div class="card__header-text">
                  <h3 class="card__title">Akash Das</h3>
                  <span class="card__status">PR Team Head</span>
                </div>
              </div>
              <p class="card__description">
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-github-square"></i></a>
              </p>
            </div>
          </div>      
        </li>
          

      </ul>
    </div>

    <!-- Members -->
    <h2 style="text-align: center; color: black; margin: 50px 0 20px 0;">Members</h2>
    <div class="member-container">
      <p>Ahnik Panda</p>
      <p>Akshat Thapa</p>
      <p>Anirban Roy</p>
      <p>Ankan Saha</p>
      <p>Arnab Goswami</p>
      <p>Arnab Saha</p>
      <p>Aryan Mukherjee</p>
      <p>Biswaroop Ghosh</p>
      <p>Debjeet Dawn</p>
      <p>Deep Karmakar</p>
      <p>Dibyanshu Shekhar Dey</p>
      <p>Kaushik Ghosh</p>
      <p>Krishna Ladha</p>
      <p>Kumar Pratyush</p>
      <p>Madhurima Mukherjee</p>
      <p>Mainak Nandi</p>
      <p>Nimish Pandey</p>
      <p>Prantik Nayak</p>
      <p>Prasenjit Ghosh</p>
      <p>Pritam Mukherjee</p>
      <p>Priyanshu Roy</p>
      <p>Rajeswari Mondal</p>
      <p>Rajneesh Prasad</p>
      <p>Saikat Maji</p>
      <p>Sandipan Pal</p>
      <p>Sanghamitra De</p>
      <p>Sayan Biswas</p>
      <p>Sayan Das</p>
      <p>Sayan Kundu</p>
      <p>Sk Saheen Ali</p>
      <p>Soumya Kanti Ghosh</p>
      <p>Sujan paul</p>
      <p>Suvadip Patra</p>
      <p>Tanay Biswas</p>
      <p>Trinanjan Mandal</p>
      <p>Tushar Gupta</p>
      <p>Ujjwal sarkar</p>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">    
        <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->
</body>
</html>