<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/team.css">
<body>
    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 

    <!-- Social Icons -->
    <%- include('./partials/social.ejs') %>

    <!-- Intro -->
    <div class="page-intro team-intro">
        <h1>Our Team</h1>
    </div>

    <!-- Leads -->
    <!-- <h2 style="text-align: center; color: black; margin: 50px 0 -10px 0;">4th Year Leads</h2> -->
    <div class="team-container">
      <ul class="cards">
          
        <li>
          <div class="card">
            <img src="/images/team/PPSR.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/PPSR.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Puspak Sinha Roy</h3>
                  <span class="card__status">Head Coordinator, Powertrain Team Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/SB.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/SB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Sarbodaman Banerjee</h3>
                  <span class="card__status">Convenor</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/SD.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/SD.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Somdip Dhara</h3>
                  <span class="card__status">Convenor, Suspension & Steering Team Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/MP.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Manish Pandey</h3>
                  <span class="card__status">Electrical Domain Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/AK.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Aritra Karar</h3>
                  <span class="card__status">Chassis & Design Team Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/MM.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Madhurima Mukherjee</h3>
                  <span class="card__status">Electronics Team Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/AM.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Arnab Maitra</h3>
                  <span class="card__status">Associate Domain Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>
        
        <li>
          <div class="card">
            <img src="/images/team/AB.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Ankit Banerjee</h3>
                  <span class="card__status">Web Development Lead</span>
                </div>
              </div>
            <p class="card__description">
              <a href="https://www.linkedin.com/in/ankit-banerjee-0211/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/ankitbanerjee0211" target="_blank"><i class="fab fa-github"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/DDJ.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Deb Das Jha</h3>
                  <span class="card__status">Advisor</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/AR.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Anirban Roy</h3>
                  <span class="card__status">3rd Year Coordinator</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/RK.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Rahul Karmakar</h3>
                  <span class="card__status">3rd Year Coordinator</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

        <li>
          <div class="card">
            <img src="/images/team/SS.jpg" class="card__image" alt="" />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" src="http://www.w3.org/2000/svg"><path /></svg>                     
                <!-- <img class="card__thumb" src="/images/team/AB.jpg" alt="" /> -->
                <div class="card__header-text">
                  <h3 class="card__title">Souvik Santra</h3>
                  <span class="card__status">3rd Year Coordinator</span>
                </div>
              </div>
            <p class="card__description">
              <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
            </div>
          </div>      
        </li>

      </ul>
    </div>

    <hr>

    <!-- 4th Year Members -->
    <h2 style="text-align: center; color: black; margin: 50px 0 20px 0;">4th Year Members</h2>
    <div class="member-container">
      <p>Ankit Banerjee</p>
      <p>Aritra Karar</p>
      <p>Arnab Maitra</p>
      <p>Bikram Chatterjee</p>
      <p>Deb Das Jha</p>
      <p>Dibyanshu Shekhar Dey</p>
      <p>Krishna Ladha</p>
      <p>Madhurima Mukherjee</p>
      <p>Manish Pandey</p>
      <p>Nimish Pandey</p>
      <p>Pratyush Jyoti Roy</p>
      <p>Puspak Sinha Roy</p>
      <p>Rajeswari Mondal</p>
      <p>Sarbodaman Banerjee</p>
      <p>Somdip Dhara</p>

    </div>

    <hr>

    <!-- 3rd Year Members -->
    <h2 style="text-align: center; color: black; margin: 50px 0 20px 0;">3rd Year Members</h2>
    <div class="member-container">
      <p>Ahnik Panda</p>
      <p>Amlan Das</p>
      <p>Anirban Roy</p>
      <p>Arkadyyuti Jha</p>
      <p>Baidyanath Dey</p>
      <p>Debjeet Dawn</p>
      <p>Debojyoti Sing Sardar</p>
      <p>Mainak Bandyopadhyay</p>
      <p>Prasenjit Ghosh</p>
      <p>Rahul Karmakar</p>
      <p>Rajdeep Mahato</p>
      <p>Sayan Maji</p>
      <p>Souvik santra</p>
      <p>Tushar Gupta</p>
    </div>

    <hr>

    <!-- 2nd Year Members -->
    <h2 style="text-align: center; color: black; margin: 50px 0 20px 0;">2nd Year Members</h2>
    <div class="member-container">
      <p>Abhoy Biswas</p>
      <p>Harsh Vardhan Shaw</p>
      <p>Koustav Mahato</p>
      <p>Moumita Pandit</p>
      <p>Rupantar Mondal</p>
      <p>Rushtam Chakraborty</p>
      <p>Satyaki Datta</p>
      <p>Sayak Jana</p>
      <p>Sayandeep De</p>
      <p>Shubham Sau</p>
      <p>Sk Sher Mahammed</p>
      <p>Soumyadeep Naskar</p>
      <p>Sumit Ram</p>
      <p>Swarnadip Chatterjee</p>
      <p>Md Ateeq Rahman</p>
      <p>Sankar Murmu</p>
      <p>Pragyayan Guha</p>
      <p>Tushar Kumar </p>
    </div>

    <!-------------- Footer --------------->

    <footer id="footer">    
        <%- include('./partials/footer.ejs')  %> 
    </footer>

    <!--------------- Footer Ends ----------------->
</body>
</html>