.about-intro{
    background: rgba(0, 0, 0, .45) url('/images/hero-image.png') no-repeat center center/cover;
    background-blend-mode: darken;
}

.about-container{
    width: 80%;
    margin: 50px auto;
}
.about-container p{
    font-size: 3vmin;
    color: rgb(46, 46, 46);
}
.about-container h4{
    font-size: 4vmin;
    color: rgb(31, 31, 31);
    font-weight: 200;
}
.about-container li{
    font-size: 3vmin;
    color: rgb(46, 46, 46);
}
.about-container ul{
    padding-left: 22px;
}

#about-img-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vh;
}

#about-img-container img{
    height: 250px;
    width: 450px;
}

.dropCap::first-letter{
    color: chartreuse;
    font-size: 70px;
    font-weight: 600;
    padding-left: 12vw;
    line-height: 10%;
    font-family: "Rubik", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .about-container{
        width: 90%;
    }
    .about-container p{
        font-size: 5vmin;
        color: rgb(46, 46, 46);
    }
    .about-container h4{
        font-size: 7vmin;
        color: rgb(31, 31, 31);
        font-weight: 200;
    }
    .about-container li{
        font-size: 5vmin;
        color: rgb(46, 46, 46);
    }
    #about-img-container img{
        height: 180px;
        width: 300px;
    }
    #about-location{
        font-size: 27px !important;
    }
    .dropCap::first-letter{
        font-size: 30px;
    }
    .about-container{
        margin: 50px auto 20px auto;
    }
}