.blog-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
}
.page-intro{
    color: antiquewhite;
}
.blog-container div{
    text-align: center;
}

.blog-container{
    margin: 60px auto 30px auto;
}
.blog-container img{
    width: 45%;
    margin: 15px 0;
    box-shadow: 0 0 4px 1px rgb(53, 53, 53);
}
.blog-container ul img{
    display: block;
    margin: 15px auto;
}
.blog-container h2, .blog-container h3{
    color: black;
    font-size: 32px;
}
.blog-container h5{
    color: rgb(65, 65, 65);
    font-size: 26px;
}
.blog-container p, .blog-container li{
    color: rgb(78, 78, 78);
    font-size: 20px;
}


@media only screen and (max-width: 600px) {
    .blog-container{
        width: 90vw;
    }
    .blog-container img{
        width: 75%;
    }
    h1{
        font-size: 1.6em;
    }
    .page-intro h1{
        font-size: 1.7em;
    }
    .page-intro h4{
        font-size: 1.4em;
    }
    .page-intro{
        height: 270px;
    }
    .blog-container h2, .blog-container h3{
        font-size: 24px;
    }
    .blog-container h5{
        font-size: 22px;
    }
    .blog-container p, .blog-container li{
        font-size: 17px;
    }
    
}