@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For smooth scrolling */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

body {
    background: rgb(255, 255, 255);
    color: #666666;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #003366;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Copperplate', fantasy;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}


/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: rgb(15, 15, 15);
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
    transition: background 0.5s ease;
}

.back-to-top:hover {
    background: rgb(61, 61, 61);
}

.back-to-top i:hover {
    padding-top: 12px;
    color: rgba(0, 140, 255, 1);
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: rgba(4, 32, 61, 0);
    height: 85px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 993;
}

#header #nav-menu-container {
    padding: 30px 10px;
}

#header.header-scrolled {
    background: rgba(2, 10, 18, 0.658);
    height: 90px;
    transition: all 0.5s;
}

#header #logo {
    float: left;
}

header #logo img {
    width: 93px;
    height: 93px;
    padding: 3px;
    margin: 0 0 0px 0;
}

/* Other than Index page Intro */
.page-intro{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-intro h1{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 6px black, 0px 0px 8px black, 0px 0px 10px black;
    padding-top: 4%;
    font-size: 4em;
}

@media only screen and (max-width: 600px) {
    .page-intro h1{
        font-size: 3.15em;
        padding-top: 8%;
    }
    .page-intro{
        height: 270px;
    }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
}

#intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: visible;
    overflow-y: hidden;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: visible;
    overflow-y: hidden;
}

#intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-background img {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#intro .carousel-content {
    text-align: center;
    text-shadow: 0 0 15px #000000, 0 0 15px #000000;
}

#intro h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 300;
}

#intro h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

#intro .carousel-fade {
    overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 1;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    padding-bottom: 60px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #1f20229f;
}

#intro .btn-get-started:hover {
    background: rgba(255, 255, 255, 0.568);
    color: #000000;
}

/* who are we */
#float-container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.who-are-we, .notice-box-1, .notice-box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.who-are-we{
    padding: 20px 5%;
    width: 60%;
} 
.who-are-we h2{
    font-weight: 500;
    font-size: 2.5em;
    color: black;
} 

.who-are-we p{
    font-weight: 300;
    font-size: 1.7em;
    color: rgb(58, 58, 58);
} 

.notice-box-1, .notice-box-2{
    text-align: center;
    padding-bottom: 20px;
    width: 40%;
}
.fb-page{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.notice-box-2{
    display: none;
}



@media only screen and (max-width: 912px) {
    .notice-container li {
        padding: 5px;
        font-size: 16px;
    }
    
    .notice-box-1{
        display: none;
    }

    .notice-box-2{
        display: flex;
    }

    .who-are-we, .notice-box-1, .notice-box-2{
        width: 100%;
    } 

    .who-are-we h2{
        font-size: 25px;
    } 

    .who-are-we p{
        font-size: 17.5px;
        line-height: 30px;
    } 

    .who-are-we{
        padding-top: 0px;
    } 

    .notice-box-1 h3, .notice-box-2 h3{
        font-size: 25px;
    } 

    /* Intro section */
    #intro h1 {
        margin-bottom: 20px;
        font-size: 33px;
        padding: 5% 5%;
    }
    
    #intro h3 {
        font-size: 17px;
    }
    
    #intro p {
        margin: 0 auto 20px auto;
        font-size: 15px;
    }
    #introCarousel{
        height: 64vh;
    }
    #intro{
        height: 64vh;
    }

    #intro .carousel-item {
        height: 64vh;
    }
}

/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0480b5;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #f7f7f7;
}


/*----------------------- promote --------------------------------*/

#promote .grid1 {
    padding: 3vw 5vw 3vw 5vw;
    margin-bottom: 50px;
    background-color: #222;
    color: #ffffff;
}

#promote .grid2 {
    padding: 5vw 5vw 5vw 10vw;
}


#sank {
    font-family: 'Copperplate', fantasy;
    font-weight: normal;
    font-size: 60px;
}

#promote .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border: 0;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#promote .card:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 140, 255, 1) 0%, rgba(0, 140, 255, 1) 15%, rgba(34, 34, 34, 0.01) 10%, rgba(0, 140, 255, 1) 15%, rgba(0, 0, 0, 1) 0%);
}

#promote .card .box {
    transition: all 0.3s ease;
    left: 50%;
}

#promote .card:hover .box {
    transform: scale(1.05);
}

#promote .card i {
    font-size: 50px;
    transition: color 0.3s ease;

}

#promote .card:hover i {
    color: #fff;
}

#promote .card .row {
    padding: 6px 0;
}
#promote .card:hover .row {
    color: rgb(0, 140, 255);
    transition: all 0.3s ease;
}

#promote .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media only screen and (max-width: 600px) {
    #promote .grid1 {
        margin-bottom: 5px;
    }
}


/* Youtube videos */
.youtube {
    background: rgb(255, 255, 255);
    padding-bottom: 40px;
}

.youtube .youtube-player-wrapper {
    display: flex;
    justify-content: center;
}

.youtube .youtube-player {
    height: 400px;
    width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.youtube .youtube-header {
    font-family: 'Copperplate', fantasy;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .youtube .youtube-player {
        height: 200px;
        width: 96%;
    }
    .youtube .youtube-header {
        font-size: 32px;
    }
    .youtube {
        padding-top: 15px;
        padding-bottom: 20px;
    }
}

/* Media Query */
@media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
        padding: 20px 0;
    }
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

@media (max-width:991px) {
    #footer .footer-top {
        padding-left: 0
    }
}

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    #intro p {
        width: 60%;
    }
    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 10%;
    }
    #nav-menu-container {
        padding-right: 60px;
    }
}

@media (max-width: 912px) {
    .back-to-top {
        bottom: 15px;
    }
    #header #logo img {
        width: 80px;
        height: 80px;
        margin: 0 0 0px 0;
    }
    #intro h2 {
        font-size: 28px;
    }
    #nav-menu-container {
        display: none;
    }
    #mobile-nav-toggle {
        display: inline;
    }
}
